{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

<head>
    {% load static %}
</head>

{% block content %}
<div class="about-container">

    <h1>Welcome to the Tech Carnival!</h1>
    <p>
        Greetings, fellow tech aficionados! Step right up to the greatest show in the digital realm,
        where innovation meets fun in a spectacular display of coding wonders and interface marvels.
    </p>

    <h2>Our Mission: Code with a Splash of Fun!</h2>
    <p>
        At the heart of our project is a mission to turn the mundane into the extraordinary. We're not
        just about code; we're about infusing joy, creativity, and a touch of whimsy into your tech experience.
    </p>

    <h2>The Marvelous Minds Behind the Curtain</h2>
    <p>
        Meet our eclectic crew of tech wizards and design maestros. From coding sorcery to crafting
        delightful interfaces, we're a bunch of passionate geeks with a knack for turning bits and bytes
        into digital magic.
    </p>

    <h2>Unleashing Techno-Wizardry</h2>
    <p>
        Brace yourselves for a wild ride through the enchanted forest of cutting-edge tech. Our spells
        include seamless databases, dazzling interfaces, and solutions that defy the ordinary.
    </p>

    <h2>Our Secret Sauce: A Dash of Academia</h2>
    <p>
        Beneath the surface of our whimsical world lies a solid foundation of academic prowess. We believe
        in mixing the right dose of theory with our coding concoctions, ensuring they stand tall in the
        grand arena of tech scrutiny.
    </p>

    <h2>Roll Up Your Sleeves and Join the Fun!</h2>
    <p>
        Whether you're here to marvel at the spectacle or jump into the coding carnival, we invite you to
        join our journey. Let's turn the tech world into a playground of innovation, where every line of
        code tells a story and every interface sparkles with joy!
    </p>
    <img src="{% static 'images/logo.png' %}" alt="Tech Carnival" class="about-image">
    <img src="{% static 'images/about.png' %}" class="about-image-1">

</div>
{% endblock %}


{% block help %}
<div class="help-section">
    <h2>Need Help?</h2>
    <p>
        If you have any questions or need assistance, feel free to reach out to our support team.
    </p>
    <p>
        Email: ali.samadyar@gmail.com
    </p>
    <p>
        Phone: +1-123-456-7890
    </p>
    <p>
        GitHub: /samadyar-ali
    </p>
</div>
{% endblock %}