<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interstellar | {% block title %} {% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">

</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="App Logo">
        </div>
        <ul class="nav-menu">
            <li><a href="http://127.0.0.1:8000">Home</a></li>
            <li><a href="http://127.0.0.1:8000/devicehub">DeviceHub</a></li>
            <li class="dropdown">
                <a href="http://127.0.0.1:8000/devicehub">DeviceControl</a>
                <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/devicecontrol/interface-mng">interfaceMNG</a></li>
                    <li><a href="http://127.0.0.1:8000/devicecontrol/vlan">VLAN</a></li>
                    <li><a href="http://127.0.0.1:8000/devicecontrol/command-runner">ShowRunner</a></li>
                    <li><a href="http://127.0.0.1:8000/devicecontrol/write-job">WriteJob</a></li>
                    <li><a href="#">AutoHub</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Online Observatory</a>
                <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/sslmonitor">sslObserver</a></li>
                    <li><a href="http://127.0.0.1:8000/bgpmonitor">bgpObserver</a></li>
                    <li><a href="http://127.0.0.1:8000/lookups">dnsLookup</a></li>
                </ul>
            </li>
            <li><a href="http://127.0.0.1:8000/about">About </a></li>
        </ul>
    </nav>

    <main class="content-area">
        <section class="content-section">
            {% block content %}
            {% endblock %}
        </section>

        <aside class="help-section">
            {% block help %}
            {% endblock %}
        </aside>

    </main>
    <footer class="footer">
        <p>&copy; 2024 Interstellar, ProjectX</p>
    </footer>
</body>

</html>