{% extends 'base.html' %}

<head>
    {% load static %}
    {% block title %}Device Hub {% endblock %}
</head>





{% block content %}
<div class="container">
    <div class="form-container" id="form_input">
        <label for="searchBox">Search:</label>
        <input type="text" id="searchBox" placeholder="Enter device name/IP">
    </div>
    <button onclick="openAddDeviceModal()">Add Device</button>
</div>
<div id="addDeviceModal" class="modal">
    <div class="modal-content">
        <h2>Add Device</h2>
        <form action="{% url 'add_device' %}" method="post">
            {% csrf_token %}
            <div class="form-containerX">
                <div class="form-column">
                    <label for="device_name">Device Name/ID: <span class="required-mark">*</span></label>
                    <input type="text" id="device_name" name="device_name" required>
                    <label for="ip_address">IP Address: <span class="required-mark">*</span></label>
                    <input type="text" id="ip_address" name="ip_address"
                        pattern="^(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)$"
                        title="Please enter a valid IP address" required>
                    <label for="device_type">Device Type: <span class="required-mark">*</span></label>
                    <select id="device_type" name="device_type" required>
                        <option value="" disabled selected>Please select</option>
                        <option value="Router">Router</option>
                        <option value="Switch">Switch</option>
                        <option value="CoreSwitch">CoreSwitch</option>
                        <option value="Firewall">Firewall</option>
                        <option value="Server">Server</option>
                        <option value="Console">Console</option>
                        <option value="WAF">WAF</option>
                        <option value="Load Balancer">Load Balancer</option>
                    </select>
                    <label for="rack_loc">Rack Number:</label>
                    <input type="text" id="rack_loc" name="rack_loc">
                </div>
                <div class="form-column">
                    <label for="manufacturer">Manufacturer: <span class="required-mark">*</span></label>
                    <select id="manufacturer" name="manufacturer" required>
                        <option value="" disabled selected>Please select</option>
                        <option value="Cisco">Cisco</option>
                        <option value="Fortinet">Fortinet</option>
                        <option value="Juniper">Juniper</option>
                        <option value="Palo Alto">Palo Alto</option>
                        <option value="Arista">Arista</option>
                        <option value="f5">f5</option>
                        <option value="Dell">Dell</option>
                        <option value="HP">HP</option>
                        <option value="Huawei">Huawei</option>
                        <option value="Mikrotik">Mikrotik</option>
                        <option value="Netgear">Netgear</option>
                        <option value="SonicWall">SonicWall</option>
                    </select>
                    <label for="model">Model:</label>
                    <input type="text" id="model" name="model">
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location">
                </div>
            </div>
            <button type="submit" id="add_device">Add Device</button>
            <span onclick="closeAddDeviceModal()" class="close">&times;</span>
        </form>
    </div>
</div>


<table id="devicesTable" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Device Name</th>
            <th>IP Address</th>
            <th>Device Type</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Location</th>
            <th>Rack</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="devicesList">
        {% for device in devices %}
        <tr id="device-{{ device.id }}">
            <td>{{ device.id }}</td>
            <td>{{ device.device_name }}</td>
            <td>{{ device.ip_address }}</td>
            <td>{{ device.device_type }}</td>
            <td>{{ device.manufacturer }}</td>
            <td>{{ device.model }}</td>
            <td>{{ device.location }}</td>
            <td>{{device.rack_loc}}</td>
            <td>
                <div class="devicehub-action-buttons">
                    <button onclick="editDevice('{{ device.id }}')">Edit</button>
                    <form method="post" action="{% url 'remove_device' %}">
                        {% csrf_token %}
                        <input type="hidden" name="device_id" value="{{ device.id }}">
                        <button type="submit" class="remove-button"
                            onclick="return confirm('Are you sure you want to remove this device?')">Remove</button>
                    </form>
                </div>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
<div id="editDeviceModal" class="modal">
    <div class="modal-content">
        <h2>Add Device</h2>
        <form id="edit-device-form" method="post">
            {% csrf_token %}
            <div class="form-containerX">
                <div class="form-column">
                    <label for="device_name">Device Name/ID: <span class="required-mark">*</span></label>
                    <input type="text" id="edit_device_name" name="device_name" required>
                    <label for="ip_address">IP Address: <span class="required-mark">*</span></label>
                    <input type="text" id="edit_ip_address" name="ip_address"
                        pattern="^(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)$"
                        title="Please enter a valid IP address" required>
                    <label for="device_type">Device Type: <span class="required-mark">*</span></label>
                    <select id="edit_device_type" name="device_type" required>
                        <option value="" disabled selected>Please select</option>
                        <option value="Router">Router</option>
                        <option value="Switch">Switch</option>
                        <option value="CoreSwitch">CoreSwitch</option>
                        <option value="Firewall">Firewall</option>
                        <option value="Server">Server</option>
                        <option value="Console">Console</option>
                        <option value="WAF">WAF</option>
                        <option value="Load Balancer">Load Balancer</option>
                    </select>
                    <label for="rack_loc">Rack Number:</label>
                    <input type="text" id="edit_rack_loc" name="rack_loc">
                </div>
                <div class="form-column">
                    <label for="manufacturer">Manufacturer: <span class="required-mark">*</span></label>
                    <select id="edit_manufacturer" name="manufacturer">"
                        <option value="Cisco">Cisco</option>
                        <option value="Fortinet">Fortinet</option>
                        <option value="Juniper">Juniper</option>
                        <option value="Palo Alto">Palo Alto</option>
                        <option value="Arista">Arista</option>
                        <option value="f5">f5</option>
                        <option value="Dell">Dell</option>
                        <option value="HP">HP</option>
                        <option value="Huawei">Huawei</option>
                        <option value="Mikrotik">Mikrotik</option>
                        <option value="Netgear">Netgear</option>
                        <option value="SonicWall">SonicWall</option>
                    </select>
                    <label for="model">Model:</label>
                    <input type="text" id="edit_model" name="model">
                    <label for="location">Location:</label>
                    <input type="text" id="edit_location" name="location">
                </div>
            </div>
            <button id="update-device-btn">Update</button>
            <span onclick="closeEditDeviceModal()" class="close">&times;</span>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/device_search.js' %}"></script>
<script src="{% static 'js/device_add.js' %}"></script>
<script src="{% static 'js/device_edit.js' %}"></script>



{% endblock %}

{% block help %}
<h2>Device Hub Quick Guide</h2>
<p>Here's a quick guide to help you get started with the Device Hub:</p>
<p>➕ Adding a Device:
    Click "Add Device," fill in the details – name, IP, type, etc., and voila! Your device is in the hub.</p>
<p>🧐 Search Magic:Looking for something? Type in the device name or IP, hit search, and watch the table do its
    thing.
</p>
<p>✍🏻 Edit on the Fly:
    Need to tweak device details? Hit "Edit" next to the device, make your changes, and you're set.</p>
<p>🤔 Got Questions?
    We're here for you! Reach out if you need a hand or have a tech mystery to solve.</p>
<h4>Happy Device Wrangling! 🚀</h4>

{% endblock %}