{% extends 'base.html' %}

<head>
    {% load static %}
    {% block title %}Interface Management {% endblock %}
</head>

{% block content %}
<div class="interface-container">
    <div class="device_list_class">
        <h2>Device List</h2>
        <table>
            <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Device IP</th>
                    <th>Manufacturer</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                {% if device.2 == 'Cisco' or device.2 == 'Fortinet' %}
                <tr>
                    <td><a href="#" class="device-name" data-device-name="{{device.0}}" data-device-ip="{{ device.1 }}"
                            data-device-manufacturer="{{ device.2}}">{{ device.0 }}</a></td>
                    <td>{{ device.1 }}</td>
                    <td>{{ device.2 }}</td>
                </tr>
                {% endif %}
                {% empty %}
                <tr>
                    <td colspan="2">No devices found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="inter_list_class">

        <h2 id="selected-device-info">Interface List</h2>
        <div class="loading-indicator" id="loading-indicator">
        </div>
        <table id="interface-table" style="display: none;">
            <thead>
                <tr>
                    <th>Interface</th>
                    <th>IP</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="interface-table-body">
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/interface_mng.js' %}"></script>

{% endblock %}

{% block help %}
<h2>Interface Management Tips and Tricks</h2>
<div>
    <p>Welcome to the Interface Management hub! Ready to take control of your network devices? Here's your quick guide:
    </p>
    <p>🌐 Device Explorer: Click on a device name to start the journey. Explore its interfaces and unveil the network
        magic!</p>
    <p>🔍 Interface Insights: Discover key details - IP addresses, statuses, and more. Dive deep into the network
        fabric.</p>
    <p>🔧 Take Command: Toggle interfaces on/off with the "Turn On/Off" button. Manage your network with a click!</p>
    <p>🤔 Stuck or Curious? Check out our FAQs for expert insights. Need help? Feel free to reach out. Network success
        awaits!</p>
</div>
{% endblock %}
```