<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interstellar | Your Automation Buddy</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/landing.css'%}">
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="main.html">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
        </div>
    </header>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="#">About</a>
                <a href="http://127.0.0.1:8000/devicehub">DeviceHub</a>
                <a href="http://127.0.0.1:8000/sslmonitor">Observatory</a>
            </li>
        </ul>
    </nav>

    <main class="content">
    </main>
    <footer class="footer">
        <p>© 2024 AstroX</p>
    </footer>
</body>

</html>