{% extends 'base.html' %}

<head>
    {% load static %}
    {% block title %}LookUP{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

{% block content %}
<div class="container">
    <div class="form-container" id="form_input">
        <form id="lookupForm" method="post" action="{% url 'lookups' %}">
            {% csrf_token %}
            <label for="url_Input">Enter a Domain:</label>
            <input type="text" id="url_Input" name="url_Input" required="required" placeholder="Enter the Domain" />
            <input type="text" id="search-box" placeholder="Search the table"></input><br></br>
            <button type="submit" name="whois">whois</button>
        </form>
    </div>
</div>

<h2>History</h2>
<table id="history-table">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Registrar</th>
            <th>Creation Date</th>
            <th>Expiration Date</th>
            <th>Abuse Email</th>
            <th>A</th>
            <th>CNAME</th>
            <th>MX</th>
            <th>NS</th>
            <th>SOA</th>
            <!-- <th>Last Update</th> -->
        </tr>
    </thead>
    <tbody id="history-table-body">
        {% for entry in history %}
        <tr>
            <td>{{ entry.hostname }}</td>
            <td>{{ entry.registrar }}</td>
            <td>{{ entry.creation_date }}</td>
            <td>{{ entry.expiration_date }}</td>
            <td>{{ entry.abuse_email }}</td>
            <td>{{ entry.a_record }}</td>
            <td>{{ entry.cname_record }}</td>
            <td>{{ entry.mx_record }}</td>
            <td>{{ entry.ns_record }}</td>
            <td>{{ entry.soa_record }}</td>
            <!-- <td>{{ entry.last_update }}</td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'js/lookup_live_search.js' %}"></script>

{% endblock %}