{% extends 'base.html' %}

<head>
    {% load static %}
    {% block title %}Show Command Runner{% endblock %}
</head>

{% block content %}
<div class="show-command-container">
    <form method="post" action="{% url 'show_command_runner' %}" class="show-command-form">
        {% csrf_token %}

        <div class="device-list-container">
            <h2> Choose one or more devices</h2>
            {% for device in devices %}
            {% if device.manufacturer == 'Cisco' %}
            <label class="device-checkbox">
                <input type="checkbox" name="selected_devices" value="{{ device.id }}">
                {{ device.device_name }} ({{ device.ip_address }})
            </label>
            {% endif %}
            {% endfor %}
        </div>

        <div class="command-input-container">
            <label for="command">Command:</label>
            <input type="text" id="command" name="command" required style="width: 250px;"><br></br>
            <button type="submit">Run Command</button><br></br>
            <div class="loading-indicator" id="loading-indicator">
            </div>
        </div>
    </form>

    <div class="command-results-container">
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}

        {% if results %}
        <h3>Command Results:</h3>
        <table>
            <thead>
                <tr>
                    <th>Device IP</th>
                    <th>Result</th>
                    <th>Error</th>
                </tr>
            </thead>
            <tbody>
                {% for device_ip, data in results.items %}
                <tr>
                    <td>{{ device_ip }}</td>
                    <td>
                        {% if data.result %}
                        <pre>{{ data.result|safe }}</pre>
                        {% endif %}
                    </td>
                    <td>
                        {% if data.error %}
                        <p class="error-message">{{ data.error }}</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/show_select_validation.js' %}"></script>
{% endblock %}

{% block help %}
<h2>Show Command Runner 🚀</h2>
<p>🔍 Explore and interact with Cisco devices using the Show Command Runner. 🌐</p>
<p>Enter the desired show commands and select one or more devices. Click "Run Commands" to see the magic happen! ✨</p>
{% endblock %}
```