{% extends 'base.html' %}

<head>
    {% load static %}
    {% block title %}VLAN Manager{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

{% block content %}
<div class="vlan-container">
    <form method="post" action="{% url 'vlan_manager' %}" class="vlan-form">
        {% csrf_token %}
        <div class="device-list-container">
            <h2> Choose one or more devices</h2><br></br>
            {% for device in devices %}
            {% if device.device_type == 'Switch' %}
            <label class="device-checkbox">
                <input type="checkbox" name="selected_devices" value="{{ device.ip_address }}">
                {{ device.device_name }} ({{ device.ip_address }})
            </label>
            {% endif %}
            {% endfor %}
        </div>

        <div class="vlan-input-container">
            <label for="vlan_id">VLAN ID:</label>
            <!-- accept numbers between 1 - 4096 -->
            <input type="text" id="vlan_id" name="vlan_id"
                pattern="^(?:[1-9]|[1-9][0-9]{1,2}|[1-3][0-9]{3}|40(?:[0-8][0-9]|9[0-6]))$" required>
            <label for="vlan_name">VLAN Name:</label>
            <input type="text" id="vlan_name" name="vlan_name" required><br></br>
            <button type="submit">Create VLAN</button>
        </div>


        <div class="device-results-container">
            <p>TEST</p>
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
        </div>
    </form>
    <table>
        <h2>History</h2>
        <thead>
            <tr>
                <th>VLAN Name</th>
                <th>VLAN ID</th>
                <th>Devices</th>
            </tr>
        </thead>
        <tbody>
            {% for vlan in vlans %}
            <tr>
                <td>{{ vlan.vlan_name }}</td>
                <td>{{ vlan.vlan_id }}</td>
                <td>
                    {% if vlan.devices.all %}
                    {% for device in vlan.devices.all %}
                    {{ device.ip_address }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    {% else %}
                    No devices associated
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/vlan_select_validation.js' %}"></script>

{% endblock %}


{% block help %}
<h2>VLAN Manager 🌐</h2>
<p>🚀 Welcome to the VLAN Manager! This section is dedicated to Cisco devices. 🌟</p>
<p>Choose one or more devices to create a VLAN on. Enter the VLAN ID and VLAN Name, then click "Create VLAN". 🛠️</p>

{% endblock %}
```