{% extends 'base.html' %}

<head>
    {% load static %}
    {% block title %}Write Memory{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

{% block content %}
<div class="write-job-container">
    <form method="post" action="{% url 'write_memory' %}" class="device-list-checkbox-form">
        <div class="device-list-container">
            <h2>Choose one or more devices</h2>
            {% csrf_token %}
            {% for device in devices %}
            {% if device.manufacturer == 'Cisco' %}
            <label class="device-checkbox">
                <input type="checkbox" name="selected_devices" value="{{ device.id }}">
                {{ device.device_name }} ({{ device.ip_address }})
            </label>
            {% endif %}
            {% endfor %}
        </div>
        <div class="write-action-section">
            <button type="submit">Write Memory</button> <br></br>
            <div class="loading-indicator" id="loading-indicator">
            </div>
            <div class="write-action-results-container">
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/writeJob_select_validation.js' %}"></script>

{% endblock %}

{% block help %}
<h2>Write Memory 📝</h2>
<p>🚀 Take control and persist your changes on Cisco devices with the Write Memory feature!</p>
<p>Select one or more Cisco devices, click "Write Memory," and watch as your configurations are saved to the startup
    configuration.</p>
<p>Ensure that the selected devices are reachable and properly configured before attempting to write to memory. This
    action is crucial for preserving your changes even after a device reboot.</p>
{% endblock %}