body {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #a8a8a8, #e0e0e0);
    /* background-color: linear-gradient(to right, #f18305, #0116d3); */
}

.header {
    text-align: center;
    padding: 20px;
}

.logo {
    position: relative;
    overflow: hidden;
}

.logo img {
    height: 500px;
    cursor: pointer;
}

.logo img:hover {
    transform: scale(1.1);
    transition: 1.5s;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 20px 0;
}

.main-menu li {
    font-size: 50px;
    margin: 0 20px;
    list-style: none;
}

.main-menu a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
}

.main-menu a:hover {
    background-color: #f2f2f2;
    transition: 1s;
}

.content {
    padding: 40px;
}

.footer {
    position: center;
    bottom: 0;
    text-align: center;
    padding: 20px;
    /* background-color: white; */
    /* width: max-content; */
    background: linear-gradient(to right, #f18305, #0116d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}